<div class="container">
    <div class="card m-2" id="comments-new">
        <div class="card-body">
            <!-- 댓글 작성 폼-->
            <form>
                <!-- 닉네임 입력 -->
                <div class="mb-3">
                    <label class="form-label">닉네임</label>
                    <input type="text" class="form-control form-control-sm" id="new-comment-nickname">
                </div>

                <!-- 댓글 본문 입력 -->
                <div class="mb-3">
                    <label class="form-label">댓글 내용</label>
                    <textarea type="text" class="form-control form-control-sm" rows="3" id="new-comment-body"></textarea>
                </div>

                <!-- 히든 인풋 -->
                <!-- 댓글은 게시글에 포함되어야하니까 article_id의 값을 hidden로 가지고 있어야한다. -->
                {{#article}}
                    <input type="hidden" id="new-comment-article-id" value="{{id}}">
                {{/article}}

                <!-- 전송 버튼 -->
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary btn-m" id="comment-create-btn">댓글 작성</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    {
        // 댓글 작성 버튼 변수화(id가 comment-create-btn인 대상)
        const commentCreateBtn = document.querySelector("#comment-create-btn");

        // 버튼 클릭 이벤트 감지!
        commentCreateBtn.addEventListener("click", function() {

            // 새 댓글 객체 생성
            const comment = {
                nickname: document.querySelector("#new-comment-nickname").value,
                body: document.querySelector("#new-comment-body").value,
                article_id: document.querySelector("#new-comment-article-id").value
            };

            // 댓글 객체 출력
            console.log(comment);

            // fetch() - Talend API요청을  JavaScript로 보내준다
            const url = "/api/articles/" + comment.article_id + "/comments";
            fetch(url, {
                method: "post", // POST 요청
                body: JSON.stringify(comment), // comment JS 객체를 JSON으로 변경하여 보냄
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => { // 응답 후 다음 처리 추가
                // http 응답 코드에 따른 메시지 출력
                const msg = (response.ok) ? "댓글이 등록되었습니다." : "댓글 등록 실패!!";
                alert(msg);

                // 현재 페이지 새로고침
                window.location.reload();
            });
        });
    }
</script>